@model string
@{
    Layout = null;
}


<div class="form-group">
    @Html.LabelFor(m => m, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
       @*@ @Html.DropDownListFor(m => m, operations, "")*@
    </div>
</div>